body{
  
}

.imgmeme{
  /* position: relative; */
  text-align: center;
}

.head{
  font-family: Arial, Helvetica, sans-serif;
}

.head-text{
  color: white;
  padding: 4px;
  background-color: #333;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 50px;
  font-family: cursive;
  font-weight: bolder;
}

.input{
  display: inline;
  padding: 8px;
  border: 4px #333 solid;
  margin: 2px;
  width: max-content;
}

/* .input:active{
  border: 4px royalblue solid;
} */


.btn{
  margin-bottom: 4px ;
}

/* .main-img{
  position: relative;
} */

.top{
  /* position: absolute; */
  margin-top: -400px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  /* text-align: center; */
}
.bottom{
  /* position: absolute; */
  /* bottom: 5px; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 300px;
   
  /* text-align: center; */
}

footer{
  position: absolute ;
  bottom: 5px;
  left: 5px;
}













